#logo-wrapper {
  #logo {
    margin:0;
    font-size:1.25rem;
    color:#B23727;
  }
}

#grid-label-wrapper {
  label {
  }
}

#grid-wrapper {
  select {
    margin:0;
  }
}

#reset-wrapper {
  #reset {
    background-color:#B23727;
    margin:0;
  }
}

#attempts-wrapper {
  #attempts {
    color:#088A4B;
    margin:0;
    font-size:1.125rem;
    background-color:#f2f2f2;
    
  }
}

#status-wrapper {
  #status {
    background-color:#088A4B;
    color:#fff;
    font-weight:bold;
    margin:0;
  }
}

#board {
  padding: 0;
  margin: 0;
  border: 1px solid #CCC;
  .card {
    padding:0.125rem;
    display:table;
    a {
      display:table-cell;
      vertical-align:middle;
      width:100%;
      text-align: center;
      font-size:rem-calc(24);
      border:1px solid #F2F5A9;
      background-color:#F2F5A9;
      background-image:url('../images/skulls.png');
    }
  }
}

@media #{$medium-up} {
  #header-section {
  }
  #board-section {
    height:90%;
  }
  #board-wrapper,
  #board,
  .card a {
    height:100%;
    a {
      font-size:rem-calc(36);
    }
  }
  #board-wrapper {
    .rows-2 .card {
      height:50%;
    }
    .rows-3 .card {
      height:33.33%;
    }
    .rows-4 .card {
      height:25%;
    }
    .rows-6 .card {
      height:16.66%;
    }
  }
}

@media #{$large-up} {
  #board {
    .card {
      a {
        font-size:rem-calc(75);
      }
    }
  }
}
